/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 7rem 0rem;
  position: relative;
  overflow: hidden;
  background-color: #303846;
  color: #fff;
}

.Herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}